body {
    background-color: #dfdfdc;
}

#mondrian {
    width: 504px;
    height: 504px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #000;
    cursor: normal;
}

.block {
    position: absolute;
    border-color: "#000000";
    border-style: solid;
    border-width: 3;
}

*, *:before, *:after{
    position: relative;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
