body {
    background-color: #dfdfdc;
}

#mondrian {
    border: 3px solid #000;
    cursor: normal;
    height: 400px;
    left: 50%;
    margin: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 400px;
}

.block {
    position: absolute;
    border: 3px solid #000;
}

*, *:before, *:after{
    position: relative;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
